* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-collapse {
  text-align: center;
}

.navbar-collapse .nav-link {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: white;
  color: var(--text-color);
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.location {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.location-title {
  margin-bottom: 20px;
}

.location-title h2 {
  font-weight: bold;
}

.location-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.location-footer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  text-align: center;
  margin-top: 150px;
}

.location-footer-title h2 {
  font-weight: bold;
}

.location-footer-main  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 40px;
}

.location-footer-main p {
  font-size: 18px;
}

.marker {
  color: black;
  width: 150px;
  text-align: center;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.logo h3 {
  color: var(--text-color);
  list-style: none;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.text-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  gap: 15px;
  margin-bottom: 10px;
}

.text-links li {
  text-align: center;
}

.text-links a {
  text-decoration: none;
  color: var(--text-color);
}

.icon-links {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.image-link {
  display: inline-flex;
  align-items: center;
}
